*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    height: 500px;
    padding: 100px 0;
    margin-bottom: 100px;
}
.heading{
    font-family: 'Berkshire Swash', cursive;
}
.header-thumbnail{
    position: absolute;
    bottom: 0;
    left: 0;
}
.ball{
    position: absolute;
    bottom: 0;
    right: 0;
}
.player-logo{
    position: absolute;
    top: 110px;
    right: 150px;
}
.logo{
    position: absolute;
    top: 85px;
    right: 220px;
}
.bg-custom{
    background-color: blueviolet;
}
#selected-players li{
    font-size: 20px;
    font-weight: 600;
}
.selected-five{
    height: 250px;
    padding: 18px 0;
    margin-left: 20px;
}
.calculation-field{
    background-color: #607d8b;
}





















